/* General Styles */

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333333fd;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  h1, h2, h3 {
    margin-top: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
  }
  
  
  /* Index Page Styles */
  
  header h1 {
    font-size: 36px;
    margin: 0;
  }
  
  main h2 {
    font-size: 24px;
  }
  
  main p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  
  /* About Page Styles */
  
  main h2:first-of-type {
    margin-top: 0;
  }
  
  main p:last-of-type {
    margin-bottom: 0;
  }
  
  
  /* Symptoms and Medications Page Styles */
  
  ul {
    font-size: 18px;
    line-height: 1.5;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul:last-of-type {
    margin-bottom: 0;
  }
  
  
  /* Additional Styles */
  
  /* Index Page */
  
  header nav {
    margin-left: auto;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  footer p {
    font-size: 14px;
  }
  
  
  /* About Page */
  
  main p {
    font-size: 20px;
    line-height: 1.5;
  }
  
  
  /* Symptoms and Medications Page */
  
  main h2:first-of-type {
    margin-top: 0;
    font-size: 28px;
  }
  
  ul {
    font-size: 20px;
  }
  
  ul li {
    margin-bottom: 15px;
  }
  
  ul:last-of-type {
    margin-bottom: 25px;
  }
  
  main h2:last-of-type {
    font-size: 28px;
  }